////
/// Clearfix allows one to adjust the parent of floated items so they help maintain the normal flow of a document.
/// @author Mark Scripter - mscripter@horizontalintegration.com

/// Clearfix Class
/// @name Clearfix
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
