////
/// Sectioning Elements
/// @group media
/// @author Mark Scripter - mscripter@horizontalintegration.com

// unstyled elements
address {}
article {}
footer {}
header {}
nav {}
section {}

// styled elements
body {
  background-color: $white;
  color: $gray-dark;
  font-family: $sans-serif;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
}


/*****************
  Sectioning Classes
******************/
.container {
  margin: 0px $margin-horizontal;
  padding: 0px $padding-horizontal;
  box-sizing: border-box;
}
