//-
//- @component: Paragraphs
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin paragraphs()
  section.item
    h3.heading(id="paragraphs") Paragraphs
    
    .line-item
      p This is an example of a paragraph. This is how a single paragraph will show up on your page. Well that was interesting. Not really, so let's see what a few more paragraphs look like together.
    
    .line-item
      p This is another example of a paragraph, and a <a href="#">link</a>. This is how the second paragraph will show up on your page. Well that was interesting. Not really, so let's see what a few more paragraphs look like together.
    
    .line-item
      p This is another example of a paragraph. This is how the third paragraph will show up on your page. Well that was interesting. Not really, so let's see what a few more paragraphs look like together.
    
    .line-item
      p This is another example of a paragraph. This is how the fourth paragraph will show up on your page. Well that was interesting. Not really, so let's see what a few more paragraphs look like together.
    
    .line-item
      p ... and stop ...
